.App {
  padding-left: 10px;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

.gradient-divsx {
  background-color: #add8e6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.Options input {
  margin: 5px;
}

.Options button {
  border-style: none;
  background-color: white;
  padding: 3px;
}

textarea {
  background-color: white;
  width: 80vw;
  margin-top: 10px;
  margin-left: 8vw;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  border-style: none;
}

@mixin gradient-divs($count, $baseName, $startColor) {
  @for $i from 0 through $count {
    $background-color: adjust-color(
      $startColor,
      $green: 20 * $i,
      $red: -10 * $i
    );
    .gradient-divs#{$i} {
      background: $background-color;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
  }
}

@include gradient-divs(8, "a", #f54542);
