@mixin gradient-divs($count, $baseName, $startColor) {
  @for $i from 0 through $count {
    $background-color: adjust-color(
      $startColor,
      $green: 20 * $i,
      $red: -10 * $i
    );
    .gradient-divs#{$i} {
      background: $background-color;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
  }
}

@include gradient-divs(8, "a", #f54542);
